@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

@font-face {
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
}

h1 {
    font-family: 'IBM Plex Sans';
}

h2 {
    font-family: 'IBM Plex Sans';
}

p {
    font-family: 'IBM Plex Sans';
}

a {
    font-family: 'IBM Plex Sans';
}