@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css');

@font-face {
	font-family: 'IBM Plex Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	src: url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 1.9rem;
}

p {
	font-size: 1.25rem;
	line-height: 1.75em;
}

a {
	font-size: 1.25rem;
	text-underline-offset: 0.25rem;
	text-underline-color: grey;
	text-decoration: none;
	border-bottom: 2px solid #d3d3d3;
	color: currentColor;
}

a:hover {
	color: black;
	border-color: currentColor;
}

li {
	font-size: 1.25rem;
	margin: 1rem;
}

img {
	max-width: 800px;
}

q {
	font-size: 1.25rem;
}

body {
	min-height: 100vh;
	max-width: 800px;
	margin: auto;
	text-rendering: optimizeLegibility;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 14px;
}
